@charset "UTF-8";

body {
  line-height: 1;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.wrap {
  width: 100%;
  height: 62px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
}
.main_nav {
  display: flex;
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.navBox {
  display: flex;
  align-items: center;
}
.navBox img {
	margin-bottom: 10px;
}
.nav {
  display: flex;
	margin-left: 40px;
}
.submitBox {
  position: relative;
}
.nav a {
  font-weight: bold;
  color: #7e7e7e;
  font-size: 15px;
	padding: 0!important;
}
.nav a:hover {
  color: black;
}
.nav li {
  margin-right: 15px;
}
.submitBox > a {
  position: absolute;
  right: 38px;
  top: -10px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.board{
	padding-top: 150px;
  margin: 0 auto;
  width: 1200px;
}
.board > h2{
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0;
}
table {
				border-collapse: collapse;
			}
td {
	text-align: left;
	height: 20px;
	border-bottom: solid #ced4da 1px;
	padding: 5px 0!important;
	font-size: 13.5px;
}
tr td:first-child {
	width: 15%;
	background-color: #eee;
}
.board form{
	padding: 0!important;
	width: 1200px;
}
.board input:nth-child(1){
	width: 1000px;
	border: none;
}
.butn{
	width: 70px;
	height: 30px;
	font-size: 13.5px;
	margin-top: 15px;
	margin-left: 1130px;
}

.butn{
	font-weight: bold;
}

