@charset "UTF-8";

body {
  line-height: 1;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.wrap {
  width: 100%;
  height: 62px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
}
.main_nav {
  display: flex;
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.navBox {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.submitBox {
  display: flex;
  position: relative;
}
.nav a {
  font-weight: bold;
  color: #7e7e7e;
  font-size: 15px;
}
.nav a:hover {
  color: black;
}
.nav li {
  margin-right: 15px;
}
.submitBox form {
  padding: 20px 5px;
  margin-right: 70px;
}
form {
  position: relative;
}
.submitBox > form input {
  width: 100%;
  border: 1px solid #7e7e7e;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 15px;
}
.submitBox > form i {
  position: absolute;
  margin: 0;
  top: 30px;
  right: -10px;
}
.submitBox > a > i {
  position: absolute;
  right: 18px;
  top: 30px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

/*----------------------------header------------------------------------*/
.container{
	padding-top: 62px;
}
.containerBox {
	margin: 0 auto;
	width: 1320px;
	height: 100%;
	margin-top: 62px;
	display: flex;
}
.imgBox {
	width: 660px;
	height: 800px;
	position: sticky;
	top: 124px;
}
.imgBox a {
	width: 582px;
}
.img > img{
	width: 580px;
	border-radius: 10px;
}
.size-table{
	border: solid 1px rgba(0, 0, 0, 0.08);
	width: 580px;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0px 7px 10px 0px #ddd;
	cursor: pointer;
}
.size-table > span{
	margin-left: 10px;
}
.size-table > span:nth-child(1){
	display: block;
	background-color: orange;
	color: #fff;
	width: 35px;
	text-align: center;
	margin-top: 8px;
	padding: 2px 0;
	border-radius: 3px;
	font-weight: bold;
}
.size-table > span:nth-child(2){
	display: block;
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
}
.size-table > p{
	margin-left: 10px;
	font-size: 12px;
	color: rgba(34,34,34,.5);
}
.textBox{
	width: 660px;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}
.text {
	margin-left: 80px;
	width: 580px;
	overflow: auto;
}
.text1{
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.text1 > h2{
	margin: 0 ;
}
.text1 p{
	margin: 10px 0;
	font-size: 18px;
}
.text1 span{
	font-size: 14px;
	color: rgba(34, 34, 34, 0.5);
	display: inline-block;
	padding-bottom: 30px;
}
.text2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.text3{
	padding: 20px 0 1px ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
}
.text3 p{
	font-size: 18px;
	font-weight: bold;
}
.text3 > div {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: red;
	margin-left: 5px;
}
.text4{
	display: flex;
	justify-content: space-between;

}
.text4 > div{
	width: 25%;
}
.box{
	margin: 25px 0;
	height: 100px;
	border-right: 1px solid rgba(0, 0, 0, 0.08);
	padding-left: 10px;
}
.text4 > div:nth-child(4) > .box{
	border-right: none;
}
.box p:nth-child(1){
	font-size: 12px;
	color: rgba(34, 34, 34, 0.5);
	letter-spacing: -2px;
}
.box p:nth-child(2){
	margin-top: -5px;
	font-size: 15px;
}
.style{
	padding-top: 30px;
}
.grid-item{
	width: 280px;
}
.styleBox > div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.styleBox > p{
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.style img {
	width: 280px;
	height: 280px;
	border-radius: 15px;
}
.style p{
	font-size: 14px;
	margin-top: 10px;
}
.nname{
	color: rgba(34, 34, 34, 0.5);;
}
.commentBox{
	width: 100%;
	height: 520px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.commen{
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0 1px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.comment > img{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border: 1px solid rgba(34,34,34,.1);
}
.comment > p{
	margin: 0;
}
.user{
	color: #000;
	font-weight: bold;
	font-size: 14px;
	white-space: nowrap;
	padding-left: 8px;
}
.comment{
	padding: 13px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	font-size: 14px;
	display: flex;
	align-items: center;
}
.comment >p:last-child{
	margin-left: 10px;
}
.comment-section{
	height: 370px;
}
.comment-btn{
	position: relative;
	margin-top: 13px;
}
.comment-btn input:nth-child(1){
	width: 560px;
  height: 40px;
  font-size: 12px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #fafafa;
	border: 1px solid rgba(34,34,34,.1);
}
.comment-btn input:nth-child(2){
	position: absolute;
	right: 15px;
	top: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
/*------------modal---------------------------------------------------*/

.modal-wrap{
	width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 1;
	z-index: 999;
}
/*.modal-wrapper .open {
  opacity: 1;
  display: block;
}*/
.modal {
  width: 390px;
  position: relative;
  top: 27.5%; 
  left: 37.5%;
  background: #fff;
  opacity: 1;
	padding: 0 20px 50px;
	border-radius: 10px;
	box-shadow: 0px 7px 10px 0px #595959;
}
.head { 
  width: 85%;
  height: 32px;
  padding: 12px 28px;
  background: #fff;
	position: relative;
	text-align: center;
}
.head > p{
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
}
.btn-close {
  font-size: 28px;
  color: #000;
	position: absolute;
	left: 360px;
	bottom: 12px;
}
.sizeBox{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}
.size{
	width: 30%;
	border: 1px solid rgba(0, 0, 0, .15);
	height: 50px;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.size:hover{
	border: 1px solid rgba(34, 34, 34, 0.5);
}
.size > p:nth-child(1){
	margin-top: 10px;
	font-size: 14px;
}
.size > p:nth-child(2){
	margin-top: -10px;
	color: red;
	font-size: 12px;
}
/*----------------------------------footer--------------------------------*/
footer{
	z-index: 9;
}
.full_box {
  background-color: #101113;
  padding: 50px 0 50px;
}
.Information_box p {
  color: #a5a5a7;
  font-size: 12px;
  margin-left: 300px;
}
.Information_box p:nth-child(2) {
  margin-top: -5px;
}
.Information_box p:nth-child(3) {
  padding-top: 10px;
}
.Information_box p:nth-child(4) {
  padding-top: 70px;
}
