<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="b1" class="diex01.B"/>

<bean id="b2" class="diex01.B"/>

<bean id="a1" class="diex01.A">
	<property name="b" ref="b1"/> <!-- name 필드명과 일치하는 setter 호출 -->
</bean>

<!--  타입이 A인 a2 bean을 등록하세요 이때 str 필드에는 "ioc 의존 주입" b필드에는 b2 bean을 대입합니다. -->

<bean id="a2" class="diex01.A">
	<property name="b" ref="b2"/>
	<!-- <property name="str" value="ioc 의존 주입"/> -->
	</bean>

<bean id="student" class="diex01.Student">
	<property name="school" ref="school"/>
	<property name="name" value="홍길동"/>
	<property name="age" value="20세"/>
</bean>

<bean id="school" class="diex01.School"/>


<!--  생성자 의존성 주입 -->

<bean id="a3" class="diex01.A">
	<constructor-arg ref="b1"/> 	<!-- 생성자 주입 -->
</bean>

</beans>
